---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hi! I'm Ian."
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('February 05 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h4>Who I am</h4>
	<p>
		If you ask the multitude of amazing people I've had the pleasure to work with over the years,
		you might hear that I'm a graphic designer, programmer, and a brand manager. If you ask the
		equally amazing people I've been able to study under, I'm a philosopher and physicist. And, 
		of course, in my free time, I enjoy videogames, korean webcomics, and a significant amount 
		of music. But that's besides the point; who I really am boils down to someone with big dreams 
		and an everlasting pursuit for as much knowledge as I can possibly consume.
	</p>
</Layout>
