---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('February 05 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi! I'm Ian.
	</p>
	<h4>Who I am</h4>
	<p>
		I'm a scientist, philosopher, graphic designer, programmer, avid music enthusiast, gamer,
		and about 50 other things. Generally, however, I'd say that I exist at the intersection
		between science and art: it has been my unstated goal in life to understand as much about
		our existence as I possibly can, and that frequently involves both "doing" science and 
		consuming art. 
	</p>
	<h4>Where I come from</h4>
	<p>
		I grew up in a military family with one sister and divorced parents. Naturally, being a 
		military family, we moved constantly. I think the longest I ever stayed anywhere during my 
		childhood was elementary school, where I went to the same school for 1st through 4th grade. 
		While this constant moving wasn't the best, it did offer me perspective: I have lived in a 
		multitude of places, from Arizona to North Carolina, and the diversity of culture that I 
		was able to experience helped provide a unique understanding of people, and everything that 
		can be associated with that (economics, politics, language, etc.).
	</p>
	<h4>What I'm about</h4>
	<p>
		As I said above, my goal is to understand our existence, as much as I can. Whether this be
		through critical thought, exploration of art, pedantic discussion, or even just relaxation,
		I am always seeking new experiences, new understanding, and new knowledge. While bias is
		obviously nigh-impossible to avoid, I try to prevent putting myself inside a box of what is
		good or bad, correct or incorrect, or even right or wrong. Now, that's not to say that I
		don't have any values, or that I don't have strong ones. Certainly, there are quite a few
		hills I would die on. However, upon the realization that the argument for another position
		is superior to the one for my own, I will (sometimes reluctantly) surrender myself to that
		new position.
	</p>
	<h4>Why I?</h4>
	<p>
		It would be really great if my name was "Iam", because then the answer to the question "Why
		I?" would be my name. Unfortunately, that's not the case, and so I think it's worth explaning
		what this question actually means. "Why I?" is really about purpose. What is my purpose, or
		your purpose, or even our collective purpose in our existence? Of course, this question is 
		necessarily difficult to answer (philosophers have been trying for some 2000 years and haven't
		decided on an answer they like yet). However, I think the greatest purpose is the one we create
		for ourselves. This, in turn, means that all actions should be focused towards this purpose,
		as, if not, we are wasting the limited time we have. However, this sentiment does not mean 
		that one should not enjoy themselves &mdash; quite the contrary. Most of the time, the actions
		we find ourselves doing naturally are the ones that serve our purpose, but only if we know what
		that purpose is. But what do I know; I'm just some college kid ¯\_(ツ)_/¯.
	</p>
</Layout>
