---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, hola, and 你好</h1>
			<p>
				Welcome to my website. I barely use it. Want to hear my thoughts on 
				stuff? Check out my blog, which I never update. Want to learn more about me?
				Try the "about" section. Thanks for visiting!
			</p>
			<img src="/status.gif" class="center">
			<br>
		</main>
		<Footer />
	</body>
</html>
<style>
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
